/* Media Queries */

.hidden-lg {
    display: block;
}
.hidden-sm {
    display: none;
}

/* Mobile */
@media (max-width: 800px) {
    .contain {
        position: relative;
        overflow-x: hidden;
    }
    body, .container {
        width: 100%!important;
        max-width: 100%!important;
    }
    header {
        width: 100%;
    }
    div, p, h2, h1, h5 {
        width: 100%!important;
    }
    header .nav ul li {
        text-align: right;
        color: #FFFFFF;
        font-size: 26px;
        width: 100%;
    }
    .hidden-lg {
        display: none;
    }
    .hidden-sm {
        display: block;
    }   
    main {
        padding-top: 80px;
    }
    h1 {
        font-size: 48px;
        line-height: 56px;
    }
    .lg-size {
        font-size: 22px;
        line-height: 30px;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
